<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>fsow_bot registration</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" />
</head>

<body id="page-top">
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <p class="masthead-heading text-uppercase mb-0">{{ status }}</p>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="masthead-subheading font-weight-light mb-0">{{ message }}</p>
        </div>
    </header>
</body>

</html>